*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@media screen and(min-width:1024px) {


    .search-bar{
        height:32px;
        width:25%;
        padding:0.5rem;
        display:flex;
        align-items: center;
        
        
    
        .search-icon{
            margin:0.5rem;
            background-color:white;
            font-size: 1.5rem;
        }

        .nav-searchInput{
            width:100%;
            height:100%;
            border:none;
            border-bottom: 3px solid rgba(128, 128, 128, 0.342);
            margin:0.5rem;
            padding:1rem;
           
         &:focus{
             outline:none;
             border-bottom: 3px solid #6d66ee6c;
         }
        }
    }
  
        
  
    
}