
// ivo styling 

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}


@media screen and (min-width:1024px) {
  

    .Register{
      display:flex;
      flex-direction:row;
      align-items: center;
      justify-content: space-evenly;
      width:100%;
      // height:950px;
      height: 100vh;
      overflow: hidden;
      position: relative;

      

      // Murad
      .hex-container{
        display: flex;
        position: relative;
        top: -350px;
        left: -100px;
        transform:translateY(-70%);
        img{
          width: 180px;
          margin-left: -38px;
        }
        img:nth-of-type(2){
          position: relative;
          top: 70px;
          left: -20px;
        }
        img:nth-of-type(3){
          position: relative;
          left: -40px;
        }
        img:nth-of-type(4){
          position: relative;
          top: 70px;
          left: -60px;
        }
        img:nth-of-type(5){
          position: relative;
          top: 140px;
          left: -80px;
        }
      }

      .slogan-container{
          position: relative;
          overflow: hidden;
          bottom: 50px;
          right: 250px;
          color: rgb(73, 71, 71);
          font-weight:bold;

          span{
            display: inline-block;
            font-size: 50px;
            position: relative;
            margin-left: 3px;
          }

          .ideas{
            margin-left: 20px;
          }
          .come{
            margin-left: 20px;
          }
          .together{
            margin-left: 20px;
          }
        }


     
      .logo{
        width:55%;
        height:85%;
        display:flex;
        flex-direction: column-reverse;
        align-items: flex-end;
     
        .logo-header{
          margin:1rem;
          font-size:2rem;
          letter-spacing: 1.3rem;
          color:rgb(107, 106, 106);
        }

        .logo-image{
          width:150px;
          position:relative;
          right:5rem;
        }
      }

      .Login-form{
        width:50%;
        height:100%;
        margin:1rem;
       

        .login-header{
          position:relative;
          top:3.5rem;
          font-size:2.5rem;
          font-family: 'Ubuntu';
          color:rgb(73, 71, 71);
        }

        input{
          padding:0.5rem;
          border-radius: 10px;
          border:none;
          width:100%
        }

        input:focus{
          outline:none;
        }

    
        .outerLogin{
          position:relative;
          width:95%;
          height:90%;
          margin:0.5rem;
          display:flex;
          flex-direction: column;
          align-items: center; 
          justify-content: space-evenly;
         

          .button-login{
            position:relative;
            width:10rem;
            height: 2.5rem;
            border-radius: 10px;
            border:none;
            color:white;
            font-weight: 600;
            font-size:1rem;
            background-color:#6C66EE;
            transition: font-size 0.1s ease-out;
            cursor: pointer;


            &:hover{
                background-color: white;
                color:#6C66EE;
                font-size:1.2rem;
            }

            &:disabled{
                background-color: gray;
                color:white;
            }

       
          } 
          
          
          form{
            position:relative;
            top:50px;
            display:flex;
            flex-direction: column;
            align-items: center;
            width:40%;
            height:70%;
            justify-content: space-evenly;
            
          }

          .innerLogin:nth-child(1){
            height:5.5rem;
          }
          .innerLogin:nth-child(2){
            height:5rem;
          }


          .innerLogin {
            margin:0.2rem;
            height:7.5rem;
            width:100%;     
            
            .message{
              margin: 0.5rem;
              font-size:0.7rem;
              font-weight:500;
              color:rgb(59, 55, 55);
              font-family: 'Ubuntu';
            }

        
          }

          .login-user{
              display:flex;
              align-content: center;
              border:1px solid rgb(177, 177, 177);
              border-radius: 10px;
             
              .icon-login{
                color:#6C66EE;
                border-radius: 50%;
                font-size: 1.3rem;
                margin-top:0.3rem;
                margin-left:0.5rem;
                margin-right:0.5rem;
              }

              .red{
                  color:red;
              }

              &:focus-within{
                border:2px solid #6C66EE;
              }

              .placeholder{
                margin: 0.5rem;
                font-size:0.9rem;
                font-weight:500;
                color:rgba(128, 128, 128, 0.699);
                  
              }

            }

            .allready-register{
              position:relative;
              top:30px;
               display:flex;
                align-items: center;
                margin-left:1rem;
                height:3rem;

                .allreadyText{
                  font-size: 1rem;
                }

                .hover-underline-animation{
                    font-weight: 700;
                    text-decoration: none;
                    margin:1rem;
                    color:#6C66EE;
                    display:inline-block;
                    position:relative;
                }
                .hover-underline-animation:after{
                  content:'';
                  position:absolute;
                  top:1.5rem;
                  width:100%;
                  transform:scaleX(0);
                  height:3px;
                  bottom:0;
                  left:0;
                  background-color: #6C66EE;
                  transform-origin:bottom right;
                  transition: transform 0.25s ease-out;
                  
                }
  
                .hover-underline-animation:hover:after{
                  transform:scaleX(1);
                  transform-origin: bottom left;
                }
               

            }

        
        }

      }


    }
}